@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-gray-700 font-sans;
  }
}

/* Custom Scrollbar for modals */
.modal-scroll::-webkit-scrollbar {
  width: 8px;
}
.modal-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}
.modal-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
  border-radius: 4px;
}
.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; 
}
